<div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1 uk-text-center uk-flex-column">
  <h1 class="">Holi ψ(._. )> esta es tu lista de funación:</h1>

  <div class="uk-flex uk-margin-small-bottom" id="table-title">
    <div class="uk-width-1-5">TIPO</div>
    <div class="uk-width-3-5">NOMBRE DE USUARIO</div>
    <div class="uk-width-1-5">-</div>
  </div>

  <div id="funacion" class="uk-flex uk-flex-center uk-flex-middle uk-flex-column">

  </div>
</div>

<div class="uk-position-top" id="alert-container">

</div>
