<div id="obs-content" class="uk-flex uk-flex-middle uk-height-1-1 uk-text-center uk-flex-column">

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on('refresh', function () {
    updateList();
  });
</script>

<script>
  function updateList() {
    const container = document.querySelector('#obs-content');

    $.ajax({
      type: "POST",
      url: "/obs",
      success: function (data) {
        container.innerHTML = '';
        let firstName = false;

        if (data.length === 0) {
          container.innerHTML = '<p>No hay nadie en la lista... Escribe !funame (solo suscriptores) o !lectura para ver como unirte 🌟</p>';
        }

        data.forEach(user => {
          if (firstName === false) {
            container.innerHTML += `<p class="user first-name">${user.display_name}</p>
            `;
            firstName = true;
          } else {
            container.innerHTML += `<p class="user">${user.display_name}</p>
            `;
          }
        })
      },
    });
  }

  updateList();
</script>
