<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Links App</title>
  {{!-- FONTAWESOME --}}
  <script src="https://kit.fontawesome.com/9806a60018.js" crossorigin="anonymous"></script>
  {{!-- STYLES --}}
  <link rel="stylesheet" href="css/uikit.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
  {{{ body }}}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/uikit.min.js'"></script>

</html>
